.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  background-color: #fafafa;
}

.override {
  margin: 0;
  padding: 0;
  border-width: 0;
  /* border: 1px solid #000 !important; */
}

.app-content {
  display: flex;
  flex-direction: column;
}


/*  ---  Hotel filters  --------------------------------------- */
.sidebar{
  width: 320px;
  height: fit-content;
  margin-top: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
/* .hotel-name-section{
} */
.hotel-title{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 26px 0 4px 24px;
  border-bottom: 1px solid rgb(199, 199, 199);
}
/* .hotel-title p{
  font-weight: 500;
} */
.hotel-search{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 40px 0 40px 20px;
  border-bottom: 1px solid rgb(200, 200, 200);
}
.hotel-search input{
  border: none;
  border-bottom: 2px solid rgb(200, 200, 200);
  padding-bottom: 9px;
  height: 1.25rem;
}
.hotel-search input:focus {
  /* outline-style: hidden;  */
  /* outline-offset: -2px; */
  outline-color: rgb(255, 255, 255); 
}
.search-icon{
  padding-right: 12px;
}
.hotel-name{
  text-align: left;
  padding-bottom: 1rem;
}
/* .hotel-icon{
  outline: 1px solid aqua;
} */
/* .hotel-input{
  outline: 1px solid blueviolet;
} */


.hotel-stars{
  align-items: center;
}
.hotels-stars-section{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 9px 0 6px 20px;
  border-bottom: 1px solid rgb(200, 200, 200);
}
/* .star-icon{
  outline: 1px solid salmon;
} */
.hotel-stars p{
  margin-left: 0.75rem;
}
.stars-check{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  text-align: left;
  padding: 40px 0 60px 22px;
}
.stars-check .img-svg{
  filter:
    invert(74%) 
    sepia(92%) 
    saturate(555%) 
    hue-rotate(352deg) 
    brightness(97%) 
    contrast(91%);
}
.stars-check input[type="checkbox"]{
  margin-bottom: 20px;
  margin-right: 12px;
  width: 18px;
  height: 18px;
}


/*  ---  Hotels view  --------------------------------------- */
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  width: fit-content;
  height: auto;
  padding: 1.5rem;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
/* .card-img img{
  width: 360px;
  max-height: 320px;
} */
.cover{
  width: 380px;
  height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin: 0 1rem 0 1.5rem;
  width: 320px;
}
.card-content h2 {
  color: #005eb8;
  margin-top: 0.25rem;
  margin-bottom: 1.1rem;
  text-align: left;
}

.card-stars{
  margin-bottom: 0.5rem;
}
.img-svg{
  margin: 0 5px;
  height: 20px;
  width: 20px;
}
.card-stars .img-svg{
  margin: 0 0 0 5px;
  filter:
    invert(74%) 
    sepia(92%) 
    saturate(555%) 
    hue-rotate(352deg) 
    brightness(97%) 
    contrast(91%);
}
/* .card-amenities{
  margin-bottom: 0.75rem;
} */

.card-price{
  margin-right: 1rem;
  margin-top: 1.5rem;
  width: 200px;
}
.card-price-desc{
  color: rgb(148, 148, 148);
  margin-bottom: 1.25rem;
}
.card-price-value{
  color: rgb(238, 181, 36);
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.card-price button{
  background-color: #005eb8;
  color: white;
  font-size: 0.85rem;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
}
