.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.app-body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  background-color: #fafafa;
}

.app-content {
  display: flex;
  flex-direction: column;
}

.override {
  margin: 0;
  padding: 0;
  border-width: 0;
  /* border: 1px solid #000 !important; */
}

/*  ---  Header  --------------------------------------------- */
/*  ---  Header  --------------------------------------------- */
.header{
  width: 100%;
  height: 70px;
  background-color: #005eb8;
  text-align: left;
}
.header h1{
  color: #fafafa;
  padding-left: 2rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

/*  ---  Hotel filters  --------------------------------------- */
/*  ---  Hotel filters  --------------------------------------- */
.filters{
  color: gray;
  font-size: 1.5rem;
  margin: 1rem 0 0.75rem 0;
  text-align: left;
}
.sidebar{
  display: flex;
  flex-direction: column;
  width: 320px;
  height: fit-content;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}
.hotel-title{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 1.625rem 0 0.25rem 1.5rem;
  border-bottom: 1px solid rgb(199, 199, 199);
}
.hotel-search{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 2.5rem 0 2.5rem 1.25rem;
  border-bottom: 1px solid rgb(200, 200, 200);
}
.hotel-search input{
  border: none;
  border-bottom: 2px solid rgb(200, 200, 200);
  padding-bottom: 0.563rem;
  margin-right: 1rem;
  height: 1.25rem;
}
.hotel-search input:focus {
  outline-color: rgb(255, 255, 255); 
}
.search-icon{
  padding-right: 0.75rem;
}
.hotel-name{
  text-align: left;
  padding-bottom: 1rem;
}

.hotel-stars{
  align-items: center;
}
.hotels-stars-section{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0.563rem 0 0.375rem 1.25rem;
  border-bottom: 1px solid rgb(200, 200, 200);
}
.hotel-stars p{
  margin-left: 0.75rem;
}
.stars-check{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  text-align: left;
  padding: 2.5rem 0 3.75rem 1.375rem;
}
.stars-check .img-svg{
  filter:
    invert(74%) 
    sepia(92%) 
    saturate(555%) 
    hue-rotate(352deg) 
    brightness(97%) 
    contrast(91%);
}
.stars-check input[type="checkbox"]{
  margin-bottom: 1.25rem;
  margin-right: 0.75rem;
  width: 1.125rem;
  height: 1.125rem;
}
.mobile{
  display: none;
}


/*  ---  Hotels view  --------------------------------------- */
/*  ---  Hotels view  --------------------------------------- */
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  width: fit-content;
  height: auto;
  padding: 1.5rem;
  margin-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}
.cover{
  width: 380px;
  height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin: 0 1rem 0 1.5rem;
  width: 320px;
}
.card-content h2 {
  color: #005eb8;
  margin-top: 0.25rem;
  margin-bottom: 1.1rem;
  text-align: left;
}
.card-stars{
  margin-bottom: 0.5rem;
}
.img-svg{
  margin: 0 0.313rem;
  height: 1.25rem;
  width: 1.25rem;
}
.card-stars .img-svg{
  margin: 0 0 0 0.313rem;
  filter:
    invert(74%) 
    sepia(92%) 
    saturate(555%) 
    hue-rotate(352deg) 
    brightness(97%) 
    contrast(91%);
}

.card-price{
  margin-right: 1rem;
  margin-top: 1.5rem;
  width: 200px;
}
.card-price-desc{
  color: rgb(148, 148, 148);
  margin-bottom: 1.25rem;
}
.card-price-value{
  color: rgb(238, 181, 36);
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.card-price button{
  background-color: #005eb8;
  color: white;
  font-size: 0.85rem;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
}


/*  ---  RESPONSIVE  ---------------------------------------------- */
/*  ---  RESPONSIVE  ---------------------------------------------- */

@media only screen and (max-width: 1390px) {
  .sidebar{
    width: 260px;
  }
  .card-content {
    width: 300px;
  }
  .card-price{
    margin-right: 0;
    width: 180px;
  }
}

@media only screen and (max-width: 1280px) {
  .app-body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .side{
    display: flex;
  }
  .filters{
    display: none;
  }
  .sidebar{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 948px;
    height: 60px;
  }
  .hotel-name-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    height: 60px;
  }
  .hotel-title{
    border: none;
    border-right: 1px solid rgb(199, 199, 199);
    padding-right: 1.875rem;
  }
  .hotel-search{
    height: 60px;
    padding: 0;
    padding-left: 1.25rem;
    padding-right: 3.75rem;
    border: none;
    border-right: 1px solid rgb(199, 199, 199);
  }
  .hotel-search input{
    padding-bottom: 0.188rem;
    padding-left: 0.563rem;
  }
  .hotels-stars-section{
    border: none;
    padding-right: 1.875rem;
  }
  .stars-check{
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .app-content {
    justify-content: center;
    align-items: center;
  }
  .header{
    text-align: center;
  }
  .header h1{
    padding-left: 0;
  }
  .sidebar{
    margin-top: 0.625rem;
    flex-direction: row-reverse;
    width: 468px;
  }
  .hotel-title{
    display: none;
  }
  .hotel-search{
    display: none;
  }
  .hotels-stars-section{
    display: none;
  }
  .mobile{
    display: flex;
    padding-left: 1.25rem;
    align-items: center;
    color: #005eb8;
  }
  .mobile img{
    filter: 
      invert(20%) 
      sepia(95%) 
      saturate(4053%) 
      hue-rotate(198deg) 
      brightness(87%) 
      contrast(101%);
  }
  .card {
    padding: 1.5rem 2.75rem 1.5rem 2.75rem;
    flex-direction: column;
    align-items: center;
  }
  .card-content {
    margin: 0;
    width: auto;
    align-self: flex-start;
  }
  .card-content h2 {
    margin-bottom: 0.75rem;
  }
  .card-price{
    width: auto;
    margin-top: 2.5rem;
  }
  .card-price button{
    width: 260px;
    border-radius: 0.188rem;
  }
}

@media only screen and (max-width: 480px) {
  .sidebar{
    margin-top: 0.625rem;
    flex-direction: row-reverse;
    width: 360px;
  }
  .card {
    width: 340px;
    padding: 1.5rem 0.5rem 1.5rem 0.5rem;
  }
  .cover{
    width: 300px;
  }
  .card-content {
    margin-left: 1.25rem;
  }
  .card-price-desc{
    font-size: 0.875rem;
  }
}

@media only screen and (max-width: 768px) {
  /* For tablet: */
}
@media only screen and (max-width: 640px) {
  /* For mobile: */
}
